* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
}

body {
  color: #fff;
  background-color: #24282E;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.create {
  width: 100vw;
  height: 100vh;
  z-index: 0;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.frame {
    background: #000;
    height: 64vh;
    width: 94vw;
    margin: 1vw auto;
    padding: 1vh auto;
    border: 4px solid rgba(87, 84, 84, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 2px;
}

video {
    width: auto;
    outline: none;
    max-height: 64vh;
}

.ctrls-all {
    height: 36vh;
    margin: 0vh;
    align-items: center;
}

.cut-frame {
    width: 95vw;
    height: 10vh;
    margin: 0vh auto;
    background-color: rgba(87, 84, 84, 0.7);
    border: 4px solid #24282E;
    opacity: 0.4;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.pp {
    flex: 2;
    justify-content: center;
    text-align: center;
}

.frp {
    flex: 10;
}

.favours {
    height: 18.5vh;
    width: 95vw;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.ctrvals, .ctrexec {
    flex: 1;
    border: 4px solid rgba(87, 84, 84, 0.7);
    margin: 1vh;
    border-radius: 2px;
    background: #343a42;    
}

.exprt {
    width: 94vw;
    height: 5vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: auto;
}

button {
    padding: 4px 10px;
    margin: auto 4px;
    outline: none;
    border-radius: 3px;
    border-width: 0px;
    cursor: pointer;
}

button:nth-of-type(2) {
    background-color: #31a2ff;
    color: #fff;
}

button:hover {
    opacity: 0.95;
}